{% extends "dashboard/base.html" %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}">

{% block content %}
    <div class="row align-items-start">
        <div class="col-2">
            <div>Иванов Иван</div>
            <hr>
            <ul>
                <li>Прогресс</li>
                <li>Сообщения</li>
                <li>Курсы</li>
                <li>Уведомления</li>
            </ul>
            <hr>
            <div>Выйти</div>
        </div>
        <div class="col">
            <h4>Основные термины</h4>
            <div class="row align-items-start">
                <div class="col">
                    <div class="notice row align-items-start">
                        <div class="col">
                            <div class="notice-item">
                                заданий
                            </div>

                        </div>
                        <div class="col">Уведомления</div>
                        <div class="col">замечания</div>
                    </div>
                    <div class="progress">
                        Завершено
                    </div>
                    <div class="buttons">
                        <button>Сбросить ответы</button>
                        <button>Завершить курс</button>
                    </div>
                </div>
                <div class="col chapters">
                    <h4>Описание</h4>
                    <h5>Основная цель этого курса - дать обзор основным терминам</h5>
                    <di>
                        <ul>
                            <li>Общая терминология ч.1</li>
                            <li>Общая терминология ч.2</li>
                            <li>Общая терминология ч.3</li>
                            <li>Общая терминология ч.4</li>
                            <li>Общая терминология ч.5</li>
                            <li>Торговые платформы</li>
                            <li>Cryptocurrency</li>
                            <li>Биржи</li>
                            <li>Рынки</li>
                            <li>Техническая терминология</li>
                        </ul>
                    </di>
                </div>
            </div>
        </div>

    </div>


{% endblock %}