{% extends "dashboard/base.html" %}

{% block content %}
    <div class="row align-items-start">
        <div class="col">
            <h4>Основные термины</h4>
            <div class="row align-items-start">
                <div class="col">
                    <div class="notice row align-items-start">
                        <div class="col notice-item">
                            <div><i class="fas fa-clipboard-check"></i></div>
                            <div>37</div>
                            <div>Заданий</div>
                        </div>
                        <div class="col notice-item">
                            <div><i class="far fa-bell"></i></div>
                            <div>2</div>
                            <div>Уведомления</div>

                        </div>
                        <div class="col notice-item">
                            <div><i class="fas fa-exclamation-circle"></i></div>
                            <div>2</div>
                            <div>Замечания</div>
                        </div>
                    </div>
                    <div class="progress">
                        <div>Завершено</div>
                        <hr>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-primary">Сбросить ответы</button>
                        <button type="button" class="btn btn-primary">Завершить курс</button>
                    </div>
                </div>
                <div class="col chapters">
                    <h4>Описание</h4>
                    <hr>
                    <h5>Основная цель этого курса - дать обзор основным терминам</h5>
                    <hr>
                    <div>
                        <ul>
                            <li>Общая терминология ч.1</li>
                            <li>Общая терминология ч.2</li>
                            <li>Общая терминология ч.3</li>
                            <li>Общая терминология ч.4</li>
                            <li>Общая терминология ч.5</li>
                            <li>Торговые платформы</li>
                            <li>Cryptocurrency</li>
                            <li>Биржи</li>
                            <li>Рынки</li>
                            <li>Техническая терминология</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}